# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
*.tsbuildinfo

# Testing
coverage/

# Entorno
.env
.env.local
.env.production
.env.*.local

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs/
*.log
npm-debug.log*

# Cache
.cache/
.parcel-cache/
.eslintcache

# Temporal
tmp/
temp/
